
button {
    background: ghostwhite;
    padding: 1em;
    margin: .5em;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: cornflowerblue;
    color: white;
    transition-duration: 2s;
}